@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

<div class="header">
    @Html.Widget("header")
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")">
            <img title="" alt="@storeName" src="@Url.Content(logoPath)">
        </a>
        @*added*@
        <div class="menu">
            @Html.Action("TopMenu", "Catalog")
        </div>
        @*added*@
    </div>
    <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>
    <div class="search-box">
        @Html.Action("SearchBox", "Catalog")
    </div>
    <div class="header-selectors-wrapper">
        <div class="tax-display-type-selector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        <div class="currency-selector">
            @Html.Action("CurrencySelector", "Common")
        </div>
        <div class="language-selector">
            @Html.Action("LanguageSelector", "Common")
        </div>
        @*added*@
        <div class="fontawesome-phone">
            @T("Custom.CallUs"): <a href="tel:@T("Custom.PhoneNumber")">@T("Custom.PhoneNumber")</a>
        </div>
        @*added*@
        @Html.Widget("header_selectors")
    </div>
</div>
